@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FAF5FC;
}


nav{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FAF5FC;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 30px 25px;
    box-shadow: 0px 2px 15px #b783c980;
}

ul{
    display: flex;
}

li{
    margin-right: 30px;
    list-style: none;
}

li:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
}

a{
    text-decoration: none;
    color: #A342A8;
    font-weight: 500;
    font-size: 24px;
}


.logo{
    font-size: 40px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.btns{
    display: flex;
}

.btns > button{
    background-color: #ce5dd4;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    font-weight: 600;
    cursor: pointer;
}

.btns > .tg{
    background-color: white;
    color: #A342A8;
    border: 2px solid #A342A8;
    margin-left: 30px;
}

.btns > button:active{
    background-color: #762b7a;
}


.btns > .tg:active{
    background-color: #762b7a;

    color: white;
    border: 2px solid transparent;
}

.menu-aberto{
    width: 30px;
    cursor: pointer;
    display: none;
    background-color: #FAF5FC;
    border: 1px solid transparent;
    outline: 1px solid transparent;
}

.menu-aberto img{
    width: 30px;
}

.menu-escondido{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:15px 0 0 15px ;
    padding: 20px 50px 0 50px ;
    display: none;
    position: sticky;
    top: 130px;
    right: 0;
    background-color: #A342A8;
    /*animation: menu-abrindo 0.1s ease-in;*/
}

.menu-escondido ul{
    text-align: justify;
    display: inline-block;
}

.menu-escondido li{
    margin-bottom: 40px;
}

.menu-escondido li a{
    color: #FAF5FC;
}

.menu-escondido li a:hover{
    font-weight: 500;
    color: #c4c0c5;
}

.btn-menu{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.btn-menu button{
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #ce5dd4;
    color: white;
    padding: 5px 15px;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
}

.btn-menu .tg{
    background-color: transparent;
    border: 2px solid #762b7a;
}

.btn-menu button:active{
    background-color: #762b7a;
    border-radius: 25px;
}

.btn-menu .tg:active{
    background-color: #762b7a;
    border-radius: 25px;
}

/*@keyframes menu-abrindo{
    from{
        top: -400px;
    }

    to{
        top: 120px;
    }
}*/

/*fim da navegação*/


/*parte da apresentação*/
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.left{
    height: 100%;
    margin-right: 20px;
    flex-basis: 50%;
}

.left h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.left p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.left button{
    background-color:#ce5dd4;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: 2px solid transparent;
    font-size: 15px;
}

.left button:active{
    border-radius: 10px;
    background-color: #762b7a;
}

.right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img{
    width: 60%;
}

.marcas{
    padding: 25px 2px;
    background-color: #A342A8;
    align-items: center;
    justify-content: center;
    display: flex; 
}

.marcas ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcas ul li{
    margin-right: 10px;
    color: white;
    font-size: 25px;
}

.marcas ul li img{
    width: 25px;
}

.beneficios{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficios header{
    margin: 30px 0;
}

.beneficios header h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.beneficios header input{
    background-color: rgb(236, 236, 236);
    padding: 5px 20px;
    font-size: 18px;
    width: 390px;
    margin-right: 15px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid transparent;
    outline: 2px solid transparent;
}

.beneficios header input:focus{
    border: 2px solid #762b7a;
    transition: 0.7s;
}

.beneficios header button{
    background-color: #dc6fe2;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: 4px solid transparent;
}

.beneficios header button:active{
    background-color: #A342A8;
    border-radius: 10px;
}

.beneficios img{
    width: 200px;
}

.corpo{
    display: flex;
}

.corpo div{
    text-align: center;
    flex-basis: 50%;
    margin-right: 20px;
}

.corpo div img{
    width: 75%;
}

.corpo .bn{
    text-align: center;
    flex-basis: 50%;
    padding: 0 30px;
}

.corpo .bn img{
    width: 9%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
}

.corpo .bn h2{
    margin-top: 60px;
    text-align: center;
}

.corpo .bn h2 span{
    color: #ce5dd4;
}


#cursos{
    background-color: #dc6fe2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
}

#cursos header{
    color: white;
    width: 45%;
}

#cursos header h1{
    font-size: 30px;
    margin: 30px 0 10px 0;
}


.cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.card {
    background-color: #fff;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card .img-card {
    margin-top: 15px;
    border-radius: 10px;
    width: 80%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-category {
    display: inline-block;
    background-color: #e0e0ff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.card-info i {
    font-size: 1.2em;
    color: #333;
}

.card-info span {
    font-size: 1em;
    color: #333;
}

.card-price {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.card-instructor {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card-instructor > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.card-instructor span {
    font-size: 1em;
    color: #333;
}


@media (max-width:1000px) {

    ul{
        display: none;
    }

    .btns{
        display: none;
    }

    .menu-aberto{
        display: block;
    }

    .apresentacao{
        display: flex;
        flex-direction: column;
    }

    .apresentacao img{
        width: 80%;
    }

    #cursos header{
        color: white;
        width: 80%;
    }
            
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:667px){
    .marcas ul li{
        font-size: 10px;
    }


    .marcas ul li img{
        width: 10px;
    }

    .beneficios header input{
        padding: 5px 10px;
        font-size: 13px;
        width: 265px;
        margin-right: 3px;
    }

    .beneficios header button{
        background-color: #dc6fe2;
        padding: 5px 5px;
        color: white;
        font-size: 13px;
        width: 70px;
    }

    .corpo{
        display: flex;
        flex-direction: column;
    }

    .corpo div{
        text-align: center;
        flex-basis: 0;
        margin-right: 0;
    }

    .corpo .bn{
        text-align: center;
        flex-basis: 0;
    }


}